/******************************************************PROFILE CSS ************************************/
.card-block{
	padding-left:3%;
	padding-top:3%;
}
.container{
	/*background:#f2f2f2;*/
}
.card h4{
	font-weight:700;
	font-size:40px;
	color:#1b8fca;
}
.card h6{
	font-weight:300;
	font-size:24px;
	color:#444545;
}
.card{
	margin-top:5%;
	margin-bottom:5%;
	border-radius:10px;
	background-color:#fdfdfd;
	
}
.about{
	font-size:20px;
}
hr { 
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));	
	opacity:0.2;
}
.cb2{
	font-weight:600;
	color:#444545;
	font-size:20px;
}
.card-link{
	color:#F38499;
}
.card-link a:hover{
	color:#1b8fca;
}

/****************************************************** EVENT CREATION FORM CSS ************************************/


body{
    background-color: #f2f2f2;
	font-family: 'Raleway', sans-serif;
}
#logo{
	max-width:80%;
	margin-top:-20px;
}
.main-content{
	margin-top:3%;
}

.form-basic{
    max-width: 640px;
    margin: 0 auto;
    padding: 55px;
    box-sizing: border-box;
    background-color:  #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    font: bold 14px sans-serif;
    text-align: center;
}
.form-row{
	font-family: 'Raleway', sans-serif;
}
.form-row span{
	font-size:18px;
	color:#1b8fca;
}
.form-basic .form-row{
    text-align: left;
    margin-bottom: 22px;
}
.form-basic .form-title-row{
    text-align: center;
    margin-bottom: 55px;
}

/* The form title */
.form-basic h1{
    display: inline-block;
    box-sizing: border-box;
    color:  #4c565e;
    font-size: 24px;
    padding: 0 10px 15px;
    border-bottom: 2px solid #6caee0;
    margin: 0;
}

.form-basic textarea{
    color: #444545;
    box-sizing: border-box;
    width: 240px;
    height: 80px;
    font: 'Raleway', sans serif;
    padding: 12px;
    border: 1px solid #d2d2d2;
    resize: vertical;
	font-size:12px;
}
.form-basic textarea:focus{
	border: 1px solid #1b8fca;
}
.form-basic .form-row > label span{
    display: inline-block;
    box-sizing: border-box;
    color: #444445;
    width: 180px;
    text-align: right;
    vertical-align: top;
    padding: 12px 25px;
	font-size:13px;
	font-weight:500;
}
.form-basic input{
    color:  #444545;
    box-sizing: border-box;
    width: 240px;
    font-size:16px;
	font-weight:400;
    padding: 12px;
    border: 1px solid #d2d2d2;
}
.form-basic input:focus{
	border:1px solid #1b8fca;
}
.form-basic input[type=radio],
.form-basic input[type=checkbox]{
    box-shadow: none;
    width: auto;
}
.form-basic input[type=checkbox]{
    margin-top: 13px;
}
.form-basic select{
    background-color: #ffffff;
    color:  #5f5f5f;
    box-sizing: border-box;
    max-width: 240px;
    padding: 12px 8px;
    border: 1px solid #d2d2d2;
	font-family:'Raleway', sans serif;
	color:#444545;
	font-weight:400;
}
.form-basic select:active{
	border: 1px solid #1b8fca;
}
.form-basic .form-radio-buttons{
    display: inline-block;
    vertical-align: top;
}
.form-basic .form-radio-buttons > div{
    margin-top: 10px;
}
.form-basic .form-radio-buttons label span{
    margin-left: 8px;
    color: #5f5f5f;
    font-weight: normal;
	
}
.form-basic .form-radio-buttons input{
    width: auto;
}
#subbutton{
	font-family:'Raleway', sans serif;
    display: block;
    border-radius: 2px;
    background-color:  #1b8fca;
    color: #f2f2f2;
    font-weight: 800;
	font-size:18px;
    padding: 14px 22px;
    border: 0;
    margin: 40px 183px 0;
	transition:0.1s ease-out;
}

.form-basic input:focus{
	border: 1px solid #1b8fca;
}
#subbutton:hover{
	background:#f38499;
	cursor:pointer;
}
.form-basic .small input{
	font-size:13px;
    color: #f2f2f2;
    font-weight: 800;
	border: 0;
    transition:0.1s ease-out;
	font-family:'Raleway', sans serif;
	margin-top:10px;
	box-sizing: none;
    width: 75px;
    font-size:12px;
	font-weight:400;
    padding: 0;
    border: none;
}
@media (max-width: 600px) {
    .form-basic{
        padding: 30px;
        max-width: 480px;
    }
    .form-basic .form-row{
        max-width: 300px;
        margin: 25px auto;
        text-align: left;
    }
    .form-basic .form-title-row{
        margin-bottom: 50px;
    }
    .form-basic .form-row > label span{
        display: block;
        text-align: left;
        padding: 0 0 15px;
		font-weight:400;
    }
    .form-basic select{
        width: 240px;
    }
    .form-basic input[type=checkbox]{
        margin-top:0;
    }
    .form-basic .form-radio-buttons > div{
        margin: 0 0 10px;
    }
    .form-basic button{
        margin: 0;
    }
}
