/* ---------------------------------------------STYLES FOR CHENNAI - SMILE SITE---------------------------------------- */
/*----------------------------------------------------- HOME-PAGE STYLES ---------------------------------------------- */

html{
	font-family: 'Raleway', sans-serif;
}
a{
	text-decoration:none;
}
body{
	background-color:#f2f2f2;
	max-height:100%;
	max-width:100%;
}
body form{
	text-align:center;
}
.vect{
	margin-top:4%;
}
h1{
	
	font-family: 'Raleway', sans-serif;
	font-size:65px;
	font-weight:800;
	position:absolute;
	z-index:3;
	top:8%;
	color:#444444;
	left:37%;
}
.signin{
	font-family: 'Raleway', sans-serif;
	position:absolute;
	z-index:2;
	border:2px solid black;
	height:450px;
	width:400px;
	top:289px;
	left:728.7px;
	background:#e2e2e2;
	border:1px solid #aaaaaa;
	border-radius:5px;
	transition:height .5s .5s, width .5s ,margin .5s,visibility .5s ;
	transition-timing-function:cubic-bezier(0.88, -0.55, 0.265, 1.55); 
}
.logo{
	position:absolute;
	max-width:30%;
	z-index:1;
	top:7%;
	left:33%;
}
.signin h2{
	padding-top:12%;
	text-align:center;
	font-weight:300;
	font-size:48px;
}
#password,
#email,
#fullname{
	margin-top:10%;
	height:45px;
	width:300px;
	background:#f2f2f2;
	border:1px solid #aaaaaa;
	border-radius:0;
}
#password3:focus,
#email:focus,
#fullname:focus{
	border:.5px solid #1a8ec8;
}
.btn{
	margin-top:5%;
	height:45px;
	width:300px;
	background:#1a8ec8;
	color:#f2f2f2;
	font-size:25px;
	font-weight:400;
	border:1px solid #f2f2f2;
}
.tag{
	margin-top:10%;
	font-size:18px;
	text-align:center;
	color:#444444;
	font-weight:300;
}
.tag1{
	margin-top:2%;
	margin-right:4%;
	font-size:18px;
	text-align:right;
	color:#444444;
	font-weight:300;
}
.tag .uplink{
	text-decoration:none;
	font-weight:700;
	color:#444444;
	cursor:pointer;
}
.tag1 .uplink1{
	text-decoration:none;
	font-weight:700;
	color:#444444;
	cursor:pointer;
}
.uplink1:hover{
	color:#1a8ec8;
}
#contents2{
	margin-top:-360px;
	opacity:0;
	text-align:center;
	transition: opacity .5s ease-in;
}
#contents1{
	opacity:1;
	transition: opacity .5s ease-in;
}
/*------------------------------------------------------------ SVG ANIMATIONS----------------------------------------------------- */

#dance{
	margin-left:35%;
	max-width:25%;
		-webkit-transition: all .5s ); /* older webkit */
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
}
#dance #back{
	-webkit-transition: all .5s ); /* older webkit */
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
}
#dance:hover #back{
	transform:translateX(-45px);
	fill:#aed0e7;
}
#dance #front{
		-webkit-transition: all .5s ; /* older webkit */
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
}
#dance:hover #front{
	transform:translateX(45px);
	fill:#4a93c5;
}
#dance .dast2{
	transition:all .4s ease-out;
	-webkit-transition: all .5s ease-out; /* older webkit */
-webkit-transition: all 500ms ease-out;
   -moz-transition: all 500ms ease-out;
     -o-transition: all 500ms ease-out;
        transition: all 500ms ease-out;
	transform-origin:100px 100px;
}
#dance:hover .dast2{
	fill:#606060;
	transform:scale(5);
}


#carnival{
	margin-left:35%;
	max-width:25%;
		-webkit-transition: all .5s ; /* older webkit */
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
}
#carnival .carst0{
	-webkit-transition: all .5s ; /* older webkit */
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
}
#carnival:hover .carst0{
	
	fill:#c54a4a;
}
#carnival .carst1{
		-webkit-transition: all .5s ; /* older webkit */
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
}
#carnival:hover .carst1{
	fill:#e7aeae;
}
#carnival .carst2{
		-webkit-transition: all .5s ; /* older webkit */
-webkit-transition: all .5s;
   -moz-transition: all 5s ;
     -o-transition: all .5s ;
        transition: all .5s;
}
#carnival:hover .carst2{
	fill:#c54a4a;
}
#carnival .carst3{
	transition:all .4s ease-out;
	transform-origin:100px 100px;
}
#carnival:hover .carst3{
	fill:#606060;
	transform:scale(5);
}



@keyframes music-disc {
       100%{transform:rotate(3600deg);}
}

#music{
	margin-left:5%;;
	max-width:25%;
		-webkit-transition: all .5s ; /* older webkit */
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
}
#music .must0{
	-webkit-transition: all .5s ); /* older webkit */
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
		transform-origin:115.7px 108.9px;
}
#music:hover .must0{
	animation-name: music-disc;
    animation-duration: 10s;
	animation-timing-function: linear;
    animation-iteration-count: infinite;
	fill:#aee2e7;
}
#music .must1{
		-webkit-transition: all .5s ; /* older webkit */
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
		transform-origin:76.6px 43.9px;
}
#music:hover .must1{
	fill:#4abbc5;
	transform:rotate(25deg);
}
#music .must2{
	transition:all .4s ease-out;
	transform-origin:100px 100px;
}
#music:hover .must2{

	transform:scale(5);	
}
#music:hover .must2
{
	fill:#606060;
}
	
	
#drama{
	max-width:25%;
	margin-left:65%;
		-webkit-transition: all .5s ; /* older webkit */
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
		transform-origin:100px 46.1px;
}
#drama .drst0{
	-webkit-transition: all .5s ; /* older webkit */
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
		transform-origin:100px 46.1px;
}
#drama:hover .drst0{
	transform:rotate(-35deg);
	fill:#aee7ba;
}
#drama .drst1{
		-webkit-transition: all .5s; /* older webkit */
		-ms-transition:all .5s;
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
		transform-origin:100px 46.1px;
}
#drama:hover .drst1{
	transform:rotate(35deg);
	-ms-transform:rotate(35deg);
	fill:#4ac578;
}
#drama .drst2{
	transition:all .4s ease-out;
	-ms-transition:all .4s ease-out;
	transform-origin:100px 100px;
}
#drama:hover .drst2{
	fill:#606060;
	transform:scale(5);	
	
}


@keyframes glitter{
	25%{
		transform:rotate(45deg);	
	}
	75%{
		transform:scale(2);
		fill:#ffe497;
	}
}
#contest{
	margin-left:35%;
	max-width:25%;
		-webkit-transition: all .5s ; /* older webkit */
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
}
#contest .cost0{
	-webkit-transition: all .5s ; /* older webkit */
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
}
#contest:hover .cost0{
	
	fill:#c5b24a;
}
#contest .cost1{
		-webkit-transition: all .5s ; /* older webkit */
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
}
#contest:hover .cost1{
	fill:#d6c47b;
}
#contest .cost2{
		-webkit-transition: all .5s ; /* older webkit */
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
}
#contest:hover .cost2{
	fill:#e7e1ae;
}
#contest .cost5{
	transition:all .4s ease-out;
	transform-origin:100px 100px;
}
#contest:hover .cost5{
	fill:#606060;
	transform:scale(5);	
}
#contest .cost6{
	webkit-transition: all .5s ; /* older webkit */
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
	transform-origin:76.7px 23px;
}
#contest:hover .cost6{
	animation-name: glitter;
    animation-duration: 2s;
	animation-timing-function: ease-out;
    animation-iteration-count: infinite;
	fill:#fcc200;
}



#sports{
	max-width:25%;
	margin-left:35%;
		-webkit-transition: all .5s ; /* older webkit */
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
		transform-origin:90px 112.9px;
}
#sports .spst0{
	-webkit-transition: all .5s ; /* older webkit */
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
}
#sports:hover .spst0{
	
	fill:#504ac5;
}
#sports .spst1{
		-webkit-transition: all .5s ; /* older webkit */
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
}
#sports .spst2{
	-webkit-transition: all .5s; /* older webkit */
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
}
#sports:hover .spst2{
	fill:#7a7ad3;
}
#sports:hover .spst1{
	fill:#aeb3e7;
}
#sports .spst4{
	transition:all .4s ease-out;
		-ms-transition:all .5s;
		-webkit-transition: all .5s ; /* older webkit */
-webkit-transition: all 500ms ;
   -moz-transition: all 500ms ;
     -o-transition: all 500ms ;
        transition: all 500ms ;
	transform-origin:100px 100px;
}
#sports:hover .spst4{
	fill:#606060;
	transform:scale(5);	
	
}
#sports:hover .spst3{
	stroke:#504ac5;
}
#sports:hover {
	transform:rotate(-30deg);
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------- EVENTS-PAGE STYLES ---------------------------------------------- */












































































