.event-list {
	min-height: 250px;
}
.event-list .card-size {
	margin-bottom: 15px;
    padding-left: 7px;
    padding-right: 7px;
}
.event-list .card-size .card {
    box-shadow: 0 1px 0px 0 rgba(0,0,0,.1), 0 1px 3px 0px rgba(0,0,0,.1) !important;
}
.event-list #loading {
    background: #fff url("../img/ajax-loader.gif") no-repeat scroll center center;
    height: 190px;
    margin: 10% auto;
    position: relative;
    top: 50%;
    width: 50px;
    z-index: 1000;
}
.event-list .loadingDiv {
    width: 100%; 
    display: none;
}
.event-list #eventResponse {
    display: none;
}

.event-list #loading.append {
    height: 120px !important;
    margin: 0 auto !important;
    top: 0 !important;
}

.event-list .filter-params {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #eee;
    margin-bottom: 20px;
    padding: 0px;
    margin-left: 7px;
    margin-right: 7px;
}
.event-list .card-title {
    line-height: 1 !important;
}
.event-list .card-title a, .event-list .card-title a:hover{
    color: #212529;
    font-size: 15px;
}
.event-list .card-body .card-text {
    font-size: 0.8rem !important;
}
.filter-params .chip {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 3px 10px;
    font-size: smaller;
    margin-bottom: 10px;
}
.filter-params .chip i.close.fa.fa-times {
    font-size: smaller;
    padding: 4px 0 0 9px;
}
.event-filters .filter-tc-button {
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-right: 10px !important;
}
.event-filters .top-categories {
    padding-left: 20px;
}
.event-filters .top-categories label {
    font-weight: bolder;
    padding-right: 9px;
    margin-bottom: 0 !important;
    padding-top: 2px;
} 
.event-filters .filter-date {
    font-size: 14px;
}
.event-filters .no-events {
    padding-left: 7px;
    padding-right: 7px;
}
.btn-default.dropdown-toggle.cs-filter-btn{
    background-color: #e7e7e7 !important;
    color: #474747 !important;
    box-shadow: none;
    border: 1px solid #d4d4d4;
    font-size: 13px;
    text-transform: capitalize;
}
.btn-default.cs-filter-btn:not([disabled]):not(.disabled):active{
    background-color: #e7e7e7  !important;
}
.btn.btn-sm.cs-btn-filter-free{
    background-color: #fafafa !important;
    color: #474747 !important;
    box-shadow: none;
    border: 1px solid #d4d4d4;
    font-size: 13px;
    text-transform: capitalize;
}
.btn.btn-sm.cs-btn-filter-paid{
    background-color: #e7e7e7 !important;
    color: #474747 !important;
    box-shadow: none;
    border: 1px solid #d4d4d4;
    font-size: 13px;
    text-transform: capitalize;
}
.cs-category-title.text-center{
    color: #474747;
}
.cs-fav-icons{
    width: 100px;    
}
.cs-fav-icons-div{
    display: inline-block;
    padding: 20px;
}
.cs-fav-icons-div p{
    text-align: center;
    color: #474747;
}
.carousel .carousel-control-prev-icon.prev {
    background-image: url("../img/arrow_left_black.svg") !important;
}
.carousel .carousel-control-next-icon.next {
    background-image: url("../img/arrow_right_black.svg") !important;
}
.carousel-control-next.cs-arrow, .carousel-control-prev.cs-arrow {
    width: auto !important;
}