.event-list {
	min-height: 250px;
    margin-top: 20px;
    background-color: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 20px;
}
.event-list .card-size {
	margin-bottom: 24px;
    padding-left: 12px;
    padding-right: 12px;
}
@media (min-width: 1024px) and (max-width: 1366px){
    .event-list .card-size {
        max-width: 25%;
    }
}
.event-list .card-size .card {
    /*box-shadow: 0 1px 0px 0 rgba(0,0,0,.1), 0 1px 3px 0px rgba(0,0,0,.1) !important;*/
    box-shadow: none;
    background-color: #fff;
    border-radius: 9px !important;
}
.event-list .card-size .card:hover {
    cursor: pointer;
}
.event-list .card-size .card img {
    padding: 7px;
    border-radius: 10px !important;
    /*min-width: 18.28rem;*/
    min-width: 100%;
}
.event-list .card-size .card.entered img {
    padding: 0 !important;
    border-radius: 10px !important;
    transition: transform .2s,-webkit-transform .2s;
}

.event-list .card-size .card.entered .card-title a {
    font-weight: bold;
}
.event-list .card-size .card.entered p.card-text {
    color: #212529;
}
.event-list .card-size .card .days-ago{
    color: #212529;
    font-size: 1rem !important;
    width: auto;
    right: 0;
    margin: 10px;
    position: absolute;
    z-index: 1000;
    padding: 0 8px;
    display: none;
    border-radius: 6px;
}

.event-list .card-size .card.entered .days-ago {
    display: block;
}
.event-list .card-size .card.entered .category-icon {
    display: block;
}
.event-list .card-size .card .category-icon {
    position: absolute;
    width: 42px;
    /* left: -33px; */
    display: none;
    z-index: 1014;
    border-radius: 20px;
    padding: 4px;
    margin: 10px 0 0 10px;
}

.event-list #loading {  
    background: #f5f5f5 url("../img/ajax-loader.gif") no-repeat scroll center center;
    height: 190px;  
    margin: 10% auto;
    position: relative;
    top: 50%;
    width: 50px;
    z-index: 1000;
}
.event-list .loadingDiv {
    width: 100%; 
    display: none;
}
.event-list #eventResponse {
    display: none;
}

.event-list #loading.append {
    height: 120px !important;
    margin: 0 auto !important;
    top: 0 !important;
}

.event-list .filter-params {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #eee;
    margin-bottom: 20px;
    padding: 0px;
    margin-left: 28px;
    margin-right: 28px;
}
.event-list .filter-params .filter-clear-all {
    box-shadow: none;
    padding: 4px 7px;
    text-transform: capitalize;
}
.event-list .card-title {
    line-height: 1 !important;
}
.event-list .card-title a, .event-list .card-title a:hover{
    color: #212529;
    font-size: 15px;
}
.event-list .card-body .card-text {
    font-size: 0.8rem !important;
}
.filter-params .chip {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #eee;
    border-radius: 0;
    padding: 3px 10px;
    font-size: smaller;
    margin-bottom: 10px;
}
.filter-params .chip i.close.fa.fa-times {
    font-size: smaller;
    padding: 4px 0 0 9px;
}
.event-filters .filter-tc-button {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    text-transform: capitalize;
    font-size: 12px;
}
.event-filters .top-categories {
    padding-left: 20px;
}
.event-filters .top-categories label {
    font-weight: bolder;
    padding-right: 9px;
    margin-bottom: 0 !important;
    padding-top: 2px;
} 
.event-filters .filter-date {
    font-size: 14px;
}
.event-filters .no-events {
    padding-left: 7px;
    padding-right: 7px;
}
.btn-default.dropdown-toggle.cs-filter-btn{
    background-color: #e7e7e7 !important;
    color: #474747 !important;
    box-shadow: none;
    border: 1px solid #d4d4d4;
    font-size: 13px;
    text-transform: capitalize;
    border-radius: 0;
}
.btn-default.cs-filter-btn:not([disabled]):not(.disabled):active{
    background-color: #e7e7e7  !important;
}
.btn.btn-sm.cs-btn-filter-free{
    background-color: #fafafa !important;
    color: #474747 !important;
    box-shadow: none;
    border: 1px solid #d4d4d4;
    font-size: 13px;
    text-transform: capitalize;
    border-radius: 0;
}
.btn.btn-sm.cs-btn-filter-paid{
    background-color: #e7e7e7 !important;
    color: #474747 !important;
    box-shadow: none;
    border: 1px solid #d4d4d4;
    font-size: 13px;
    text-transform: capitalize;
    border-radius: 0;
}
.cs-category-title.text-center, .epage-title-text{
    color: #474747;
    color: #474747;
    font-family: avenir, sans-serif;
    font-weight: 100;
}
.cs-fav-icons{
    width: 70px;    
}
.cs-fav-icons-div{
    display: inline-block;
    padding: 20px;
}
.cs-fav-icons-div p{
    text-align: center;
    color: #474747;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    width: 90px !important;
}
.carousel .carousel-control-prev-icon.prev {
    background-image: url("../img/arrow_left_black.svg") !important;
}
.carousel .carousel-control-next-icon.next {
    background-image: url("../img/arrow_right_black.svg") !important;
}
.carousel-control-next.cs-arrow, .carousel-control-prev.cs-arrow {
    width: auto !important;
}

.event-list .epage-title {
    margin-bottom: 15px;
}
.view.overlay .back {
    position: absolute;
    opacity: 0.8;
    transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    z-index: 2;
    /*background: rgba(0,0,0,.6);*/
    top: 0;
    width: 100%;
    height: 12%;
    bottom: 0;
    padding: 10px;
}
.img-fluid.cs_card_icon {
    width: 35%;
}
