.mb-5, .my-5 {
   /* margin-bottom: 2rem!important;*/
margin-bottom: 20px !important;
}
.pt-0{
    padding-top: 0.2rem !important;
}
.event-details{
    font-size: 14px!important;
}
.tag-border{
    border:1px solid #4e4548!important;;
}
.tagline{
    margin-top: 20px;
}
 .flex-cont{
    border-radius: 7px!important;
     background-color: #f4f4f4;
}
}
 .cs-descr-box{
     height: 250px;
     overflow-y: scroll;
     border: 1px solid #d4d4d4;
}
 .cs-title{
    color: black;
font-size: 18px;
}
 .buy-btn{
     background-color: #FD7809;
}
 .cs-tag-title .tag {
    height: 60px;
     background: linear-gradient(to top, rgba(0, 0, 0, 0.55) 50%, rgba(0, 0, 0, 0.63) 50%) !important;
}
 .cs-tag-title{
     position: absolute;
     bottom: 20px;
}
 .mob-container{
     display: none;
}
 .desk-container{
     display: block;
}
 .rs-details-bold{
    font-weight: bold;
     margin-left: 10px;
}
 .rs-details{
     margin-left: 10px;
}
 .cname-span{
     margin-top: 15px;
     color: #f4f4f4;
     margin-left: 7px;
}
 @media (max-width: 768px){
     .mob-container{
         display: block;
    }
     .desk-container{
         display: none;
    }
}
 img.marg-card {
     width: 50px;
     height: 50px;
}
 .cs_right_details_mob{
     display: none !important;
}
 @media (max-width: 420px){
     .cs_right_details_desk{
         display: none !important;
    }
     .cs_right_details_mob{
         display: block !important;
    }
     .cname-span{
         font-size: 12px;
    }
     img.marg-card {
         width: 50px;
         height: 50px;
    }
    .static-banner {
    	min-height: 150px;
    	width: auto;
    }
}
 .cs_banner_bg{
     /*-webkit-filter: blur(5px);
     -moz-filter: blur(5px);
     -o-filter: blur(5px);
     -ms-filter: blur(5px);
     filter: blur(5px);*/
     margin-top: 20px;
     width: 870px;
     height: 390px;
}
.banner_image {
    position: relative;
}
.cs_banner {
    /*width: 12rem;
     position: absolute;
     top: 5%;
     left: 40%;
    */
     width: 75%;
     position: absolute;
     left: 0;
     right: 0;
     margin: auto;
     top: -320px;
     bottom: 0;
     height: 15rem;
}
 @media (max-width: 768px){
    .cs_banner{
    	
    }
}
 .cs_details_block{
     /*width:870px;*/
     height: 250px;
    max-height:250px;
    overflow-y:auto;/*
   /*  border: 1px solid #d4d4d4;*/
}
 .cs_banner_container{
  /*   border: 1px solid #d4d4d4;*/
}
.cs_details_rightblock{
     /*width:300px;*/
   /*  border: 1px solid #d4d4d4;*/
}
.cs_details_mapblock{
   /*  width:300px;*/
/*     height: 220px;*/
   /*  border: 1px solid #d4d4d4;*/
}
.cs_details_advertblock{
  /*   width:300px;*/
     height: 200px;
   /*  border: 1px solid #d4d4d4;*/
}