
.form-check [type=checkbox] {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}

.form-check input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}
.form-check [type=checkbox]+label:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:17px;
    height:17px;
    z-index:0;
    border:1.5px solid #8a8a8a;
    border-radius:1px;
    margin-top:2px;
    -webkit-transition:.2s;
    transition:.2s;
}
.form-check [type=checkbox]:checked+label:before{
    top:-4px;
    left:-5px;
    width:12px;
    height:22px;
    border-style:solid;
    border-width:2px;
    border-color:transparent #474747 #474747 transparent;
    -webkit-transform:rotate(40deg);
    -ms-transform:rotate(40deg);
    transform:rotate(40deg);
    -webkit-transform-origin:100% 100%;
    -ms-transform-origin:100% 100%;
    transform-origin:100% 100%
}
.form-check [type=checkbox]:indeterminate+label:before{
    left:-10px;
    top:-11px;
    width:10px;
    height:22px;
    border:none;
    border-right:2px solid #4285f4;
    -webkit-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    -webkit-transform-origin:100% 100%;
    -ms-transform-origin:100% 100%;
    transform-origin:100% 100%
}