/* Your custom styles */
.search-box {

}
.search-box button {
	box-shadow: none !important;
    border-radius: 0;
    margin: 0;
    padding: .84rem 1.14rem;
    background-color: #50bac4 !important;
}
.search-box button i {
	margin-top: 2px;
}
.search-box button label {
	margin-bottom: 0;
	padding-right: .5rem;
    text-transform: capitalize;
}
.search-box .search-text-box input {	
    border-radius: 0;
    height: 44px;
    border-width: 1px 0 1px 0;
    border-spacing: 0;
    width: 25rem;
}
.search-box .waves-input-wrapper {
	border-radius: 0px;
}
.nav-flex-icons .fa-user-circle {
	color: cadetblue;
}
.nav-flex-icons button {
	box-shadow: none;
	padding: .84rem 1.14rem;
}
.cs-login-modal-head{
    border: 0;
    padding: .7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: -20px;
    background-color: #2bbbad;
    z-index: 2;
    position: relative;
    border-radius: 2px;
}
.nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-link.active {
    background-color: rgba(255,255,255,.2);
    color: #fff;
    -webkit-transition: all 1s;
    transition: all 1s;
    border-radius: 2px;
}
.nav-tabs .nav-link{
    border: 0;
    color: #fff;
}
.cs-anchor > a{
    width: 18%;
}
.btn.btn-primary.dropdown-toggle.cs-dropbtn.waves-effect.waves-light {
    background: none !important;
    box-shadow: none !important;
}
.btn.btn-primary.dropdown-toggle.cs-dropbtn.waves-effect.waves-light:hover {
    background: none !important;
    box-shadow: none !important;
}
.btn.btn-primary.dropdown-toggle.cs-dropbtn.waves-effect.waves-light:active {
    box-shadow: none !important;
}
.category-dropdown, .subcategory-dd {
	display: none;
    position: absolute;
    color: #212121;
    padding: 7px 10px;
    z-index: 99;
    float: none;
    clear: both;
    background-color: #e9ecef !important;
    width: 575px !important;
    font-size: 14px;
    font-weight: bolder;
}
.category-dropdown .parent-category {
    padding: 7px;
}
.category-dropdown .parent-category:hover {
	cursor: pointer;
    background-color: #dee2e6;
    color: #212529;
    font-weight: 500;
    text-shadow: none;
}
.search-text-box .bootstrap-tagsinput .tag {
    background-color: #e7e7e7;
    color: #a8a8a8 !important;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: 400;
}
.search-text-box .bootstrap-tagsinput {
    padding-left: 10px;
}
.subcategory-dd .sub-category {
	padding: 7px;
}
.subcategory-dd .sub-category .form-check:hover {
	cursor: pointer !important;
}
.subcategory-dd [type=checkbox]+label:before {
    width: 15px;
    height: 15px;
    border: 1px solid #8a8a8a;
}
.subcategory-dd [type=checkbox]:checked+label:before {
    width:9px;
    height:20px;
}
.btn-default.dropdown-toggle.cs-city-btn{
    background-color: #e7e7e7 !important;
    color: #474747 !important;
    box-shadow: none;
    font-size: 13px;
    text-transform: capitalize;
    border: 1px solid #d4d4d4;
}
.btn-default.cs-city-btn:not([disabled]):not(.disabled):active{
    background-color: #e7e7e7  !important;
}
.btn.btn-primary.cat-not-selected,
.btn.btn-primary.category-selected {
    background-color: #474747 !important;
}
.bootstrap-tagsinput .tag [data-role="remove"]::after {
    content: "x";
    padding: 0px 2px;
    color: #4a4a4a !important;
}
.cs-footer{
    background-color: #4abac5;
}
.cs-footer-social{
    margin: 0 auto;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/ Rounded sliders /
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}